html {
    padding: 0.3rem;
}


/*header section*/

header {
  height: 40rem;
  background-image: url(img/img-5.png);
  background-size: cover;
  color: white;

}




span{
 font-family: 'lobster';
 font-size: 3rem;
 margin-left: 5%;
}

h1 {
    font-family: 'lobster';
    letter-spacing: 3px;
    font-size: 3rem;
    text-align: center;
    margin-top: 7rem;
}

p{
    text-align: center;
    font-family: 'poppins' ;
}

button{
    padding: 14px;
    background-color: #f6b400;
    border: none;
    margin-left: 45%;
    border-radius: 18px;
}

nav{
    display: inline-block;
  
    align-items: right;
    justify-content: space-between;
    
}

nav ul {
    height: 100%;
    width: 80%;
    display: flex;
    
    
}
ul li {
    list-style: none;
    
    padding: 3rem;
}

ul li a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-family: 'poppins';
}